<!DOCTYPE html>
</html>
    <head>
        <title>Node JS</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header">
                <h2><img align="center" src="/../images/logo.png"> <%=page_title%></h2>
            </div>
            <div class="page-container">
                    <div>
                            <ul>
                                <li><a href="http://localhost:4300/produtos" class="scroll">Novo Produto</a></li>
                                <li><a href="http://localhost:4300/customers" class="scroll">Novo Funcionário</a></li>
                            </ul>
                        </div>
