<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/produtos/add">
                <table cellpadding="11">
                <tr>
                    <td class="label">Nome</td><td>: <input type="text" name="nome" required></td>
                 </tr>
                 <tr>
                    <td class="label" valign="top">Descrição</td><td valign="top">: <textarea name="descricao" required cols="30" rows="5"></textarea></td>
                </tr>
                <tr>
                    <td class="label">Quantidade</td><td>: <input type="number" name="quantidade" id="quantidade" required ></td>
                 </tr>
                <tr>
                    <td class="label">Valor Compra</td><td>: <input type="number" name="valorcompra" id="valorcompra" required ></td>
                 </tr>
                  <tr>
                    <td class="label">Valor Venda</td><td>: <input type="number" name="valorvenda" id="valorvenda" required onblur="calculaLucro()"></td>
                 </tr>
                 <tr>
                    <td class="label">Lucro</td><td>: <input type="number" name="lucro" id="lucro" required></td>
                 </tr>
                 <tr>
                    <td class="label">Disponível</td>
                    <td>: 
                        <select id="disponivel" name="disponivel">
                            <option value="">Disponível?</option>
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                        </select>
                        
                    </td>
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Salvar">
                       <input type="button" name="cancel" value="Cancelar" class="cancel" onClick="cancelAddProdutos()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>
