<%- include layouts/header.html %>
        <div class="page-data">
         <div class="data-btn">
           <button onClick="addDemandas();">Adicionar</button>
           
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7" id="tableDemandas">
                <tr>
                    <!--<th width="40px">Id</th>-->
                    <th>Qual a Solução/Produto?</th>
                    <th>Para qual versão da Solução/Produto deve ser feito o desenvolvimento?</th>
                    <th>O que deve ser feito?</th>
                    <th>Em qual base/servidor deve ser aplicado?</th>
                    <th>Prazo?</th>
                    <th>Existe impacto para o desenvolvimento?</th>
                    <th>Cliente específico?</th>
                    <th width="200px">Ações</th>
                </tr>
                               
                <% if(data.length){ 
                 for(var i = 0;i < data.length;i++) { %>   
                <tr>
                    <!--<td align="center"><%=(i+1)%></td>-->
                    <td align="center"><%=data[i].solucaoproduto%></td>
                    <td align="center"><%=data[i].versaoproduto%></td>
                    <td align="center"><%=data[i].oquefazer%></td>
                    <td align="center"><%=data[i].baseservidor%></td>
                    <td align="center"><%=data[i].prazo%></td>
                    <td align="center"><%=data[i].impactodesenv%></td>
                    <td align="center" id="clienteespecifico"><%=data[i].clienteespecifico%></td>
                    <td>
                        <a class="a-inside edit" href="../demandas/edit/<%=data[i].id%>">Ver Demanda</a>
                        <a class="a-inside delete" href="../demandas/delete/<%=data[i].id%>">Deletar</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="8" align="center">Sem demandas cadastradas!</td>
                 </tr>
            <% } %>  
            </table>
         </div>
        </div>
<%- include layouts/footer.html %>
